<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js" lang="en"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Always force latest IE rendering engine -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<meta name="description" content="Django is a responsive creative agency template">
		<meta name="keywords" content="portfolio, personal, corporate, business, parallax, creative, agency">

		<!-- Title -->
		<title>Django</title>

		<!-- Google fonts -->
		<link href="https://fonts.googleapis.com/css?family=Dosis:100,400,600,700" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600,700" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">

		<!-- Font awesome Core CSS -->
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<link rel="stylesheet" href="css/et-line.css">

		<!-- bootstrap css -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- YouTubePopUp CSS -->
		<link rel="stylesheet" href="css/YouTubePopUp.css">

		<!-- magnific-popup CSS -->
		<link rel="stylesheet" href="css/magnific-popup.css">

		<!-- owl carousel CSS -->
		<link rel="stylesheet" href="css/owl.carousel.min.css">
		<link rel="stylesheet" href="css/owl.theme.default.min.css">

		<!-- Custom style CSS -->
		<link rel="stylesheet" href="css/style.css">

		<!-- responsive CSS -->
		<link rel="stylesheet" href="css/responsive.css">

		<!--[if lt IE 9]-->
		<script src="js/html5shiv.min.js"></script>
		<!--[endif]-->
	</head>
	<body>

		<!-- ====== Preloader ======  -->
	    <div class="loading">
			<div class="spinner">
			  <div class="rect1"></div>
			  <div class="rect2"></div>
			  <div class="rect3"></div>
			  <div class="rect4"></div>
			  <div class="rect5"></div>
			</div>
		</div>
		<!-- ======End Preloader ======  -->


		<!-- ====== Navgition ======  -->
		<nav class="navbar local-nav navbar-custom tt-default-nav">
		  <div class="container">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <!-- logo -->
		      <a class="navbar-brand" href="#">Django</a>
		    </div>

		    <!-- Collect the nav links, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      
			  <!-- links -->
		      <ul class="nav navbar-nav navbar-right">
		        <li><a href="#home" class="active">Home</a></li>
		        <li><a href="#about">About</a></li>
		        <li><a href="#services">Services</a></li>
		        <li><a href="#portfolio">Portfolio</a></li>
		        <li><a href="#clients">Clients</a></li>
		        <li><a href="#blog">Blog</a></li>
		        <li><a href="#contact">Contact</a></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container -->
		</nav>
		<!-- ====== End Navgition ======  -->

		<!-- ====== Header ======  -->
		<header id="home" class="slider-nav demo-5">

			<div class="owl-carousel owl-theme">
				<div class="item slide-1">
					<div class="v-middle text-center caption mt-20">
						<h6>We are creative company</h6>
						<h1>We Love To Design</h1>
						<button class="button btn-bord-light">See More</button>
						<button class="button btn-bord-light">All Demos</button>
					</div>
				</div>

				<div class="item slide-2">
					<div class="v-middle text-center caption mt-20">
						<h6>We are creative company</h6>
						<h1>We Love To Thinking</h1>
						<button class="button btn-bord-light">See More</button>
						<button class="button btn-bord-light">All Demos</button>
					</div>
				</div>

				<div class="item slide-3">
					<div class="v-middle text-center caption mt-20">
						<h6>We are creative company</h6>
						<h1>We Love To Creative</h1>
						<button class="button btn-bord-light">See More</button>
						<button class="button btn-bord-light">All Demos</button>
					</div>
				</div>
			</div>
			<div class="button-scroll" data-scrollTo="about"><span></span></div>
		</header>
		<!-- ====== End Header ======  -->

		<!-- ====== hero ======  -->
		<section id="about" class="hero section-padding">
			<div class="container">

				<div class="row">
					<!-- hero-item -->
					<div class="hero-item col-md-4 text-center">
						<span class="icon-tools"></span>
						<div class="hero-item-content">
							<h5>Web Design</h5>
							<p>Custom WordPress plugins oriented to making your daily development job easier.</p>
						</div>
					</div>

					<div class="hero-item col-md-4 text-center active">
						<span class="icon-mobile"></span>
						<div class="hero-item-content">
							<h5>Responsive Design</h5>
							<p>Custom WordPress plugins oriented to making your daily development job easier.</p>
						</div>
					</div>

					<div class="hero-item col-md-4 text-center">
						<span class="icon-dial"></span>
						<div class="hero-item-content">
							<h5>User Friendly</h5>
							<p>Custom WordPress plugins oriented to making your daily development job easier.</p>
						</div>
					</div>

					<div class="clear-fix"></div>

					<div class="hero-block mt-100">

						<!-- accordion -->
						<div class="col-md-6">
							<div class="accordion">
								<div class="accordion-icon">
									<h6>Web Design <span><i class="fa fa-angle-down" aria-hidden="true"></i></span></h6>
								</div>
								<div class="accordion-info active">
									<p>Lorem ipsum dolor sit amet, in quodsi vulputate pro. Ubique maluisset vel te, his dico vituperata ut. in quodsiUbique maluisset vel te, his dico vituperata ut in quodsiUbique. in quodsi vulputate.</p>
								</div>
								<div class="accordion-icon">
									<h6>Creative Template <span><i class="fa fa-angle-down" aria-hidden="true"></i></span></h6>
								</div>
								<div class="accordion-info">
									<p>Lorem ipsum dolor sit amet, in quodsi vulputate pro. Ubique maluisset vel te, his dico vituperata in quodsiUbique ut. in quodsiUbique maluisset vel te, his vituperata ut. in quodsi vulputate.</p>
								</div>
								<div class="accordion-icon">
									<h6>Unlimited Support <span><i class="fa fa-angle-down" aria-hidden="true"></i></span></h6>
								</div>
								<div class="accordion-info">
									<p>Lorem ipsum dolor sit amet, in quodsi vulputate pro. Ubique maluisset vel te, in quodsiUbique his dico vituperata ut. in quodsiUbique maluisset te, his dico vituperata ut. in quodsi vulputate.</p>
								</div>
							</div>
						</div>

						<!-- progress -->
						<div class="col-md-offset-1 col-md-5">
							<div class="hero-blc-progress">
								<div class="progress-item">
									<p>DESIGN <span class="pull-right">90%</span></p>
									<div class="progress-main"><span class="progress-bar"  data-value="90%"></span></div>
								</div>

								<div class="progress-item">
									<p>BRANDING <span class="pull-right">80%</span></p>
									<div class="progress-main"><span class="progress-bar"  data-value="80%"></span></div>
								</div>

								<div class="progress-item">
									<p>DEVELOPMENT<span class="pull-right">85%</span></p>
									<div class="progress-main"><span class="progress-bar"  data-value="85%"></span></div>
								</div>

								<div class="progress-item">
									<p>MARKETING<span class="pull-right">70%</span></p>
									<div class="progress-main"><span class="progress-bar"  data-value="70%"></span></div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>
		<!-- ====== End hero ======  -->

		<!-- ====== Video ======  -->
		<div class="serv-us">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-6 us-content">
						<h5>Why Choose Us</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In maximus ligula semper.Lorem ipsum dolor sit amet, consectetur adipiscing eli.</p>
						<button class="button btn-bord-light">See More</button>
					</div>

					<!-- our video -->
					<div class="col-md-offset-2 col-md-6 col-sm-6">
						<div class="our-video">
							<img src="img/1.jpg" alt="image">
							<a class="vid" href="https://vimeo.com/127203262">
								<div class="vid-play v-middle text-center">
									<span><i class="fa fa-play-circle" aria-hidden="true"></i></span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- ====== End Video ======  -->

		<!-- ====== services ======  -->
		<section id="services" class="services section-padding">
			<div class="container">

				<!-- section head -->
				<div class="section-head text-center">
					<h5 class="tit">SERVICES</h5>
				</div>

				<div class="row">

					<!-- services items -->
					<div class="serv-row text-center">
						<div class="col-md-4">
							<div class="serv-item">
								<span class="icon-mobile"></span>
								<h6>Web Design</h6>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In maximus ligula semper.</p>
							</div>
						</div>

						<div class="col-md-4">
							<div class="serv-item">
								<span class="icon-paintbrush"></span>
								<h6>Graphic Design</h6>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In maximus ligula semper.</p>
							</div>
						</div>

						<div class="col-md-4">
							<div class="serv-item">
								<span class="icon-strategy"></span>
								<h6>Branding</h6>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In maximus ligula semper.</p>
							</div>
						</div>
					</div>

					<div class="serv-row text-center">
						<div class="col-md-4">
							<div class="serv-item">
								<span class="icon-aperture"></span>
								<h6>Development</h6>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In maximus ligula semper.</p>
							</div>
						</div>

						<div class="col-md-4">
							<div class="serv-item">
								<span class="icon-camera"></span>
								<h6>Photographic</h6>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In maximus ligula semper.</p>
							</div>
						</div>

						<div class="col-md-4">
							<div class="serv-item">
								<span class="icon-dial"></span>
								<h6>Seo</h6>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In maximus ligula semper.</p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>
		<!-- ====== End services ======  -->

		<!-- ====== process ======  -->
		<section class="process section-padding">
			<div class="container">
				<div class="row">

					<!-- items -->
					<div class="col-md-3 col-sm-6">
						<div class="items text-center">
							<div class="item-title">
								<div class="item-rotate">
									<h5>01</h5>
									<h6>Idea</h6>
								</div>
							</div>
							<div class="item-content">
								<p>Lorem ipsum dolor sit amet, conse ctetur adipiscing elit.</p>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-sm-6">
						<div class="items text-center">
							<div class="item-title">
								<div class="item-rotate">
									<h5>02</h5>
									<h6>Planing</h6>
								</div>
							</div>
							<div class="item-content">
								<p>Lorem ipsum dolor sit amet, conse ctetur adipiscing elit.</p>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-sm-6">
						<div class="items text-center">
							<div class="item-title">
								<div class="item-rotate">
									<h5>03</h5>
									<h6>Create</h6>
								</div>
							</div>
							<div class="item-content">
								<p>Lorem ipsum dolor sit amet, conse ctetur adipiscing elit.</p>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-sm-6">
						<div class="items text-center">
							<div class="item-title">
								<div class="item-rotate">
									<h5>04</h5>
									<h6>Success</h6>
								</div>
							</div>
							<div class="item-content">
								<p>Lorem ipsum dolor sit amet, conse ctetur adipiscing elit.</p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>
		<!-- ====== End process ======  -->

		<!--====== Portfolio ======-->
		<section id="portfolio" class="portfolio main section-padding section-bord">
			<div class="container">
				<!-- section header -->
				<div class="section-head text-center">
					<h5 class="tit">SOME OF WORK</h5>
				</div>

				<div class="row">

					<!-- filter links -->
					<div class="filtering text-center mb-50">
						<span data-filter='*' class="active">All</span>
						<span data-filter='.brand'>Brand</span>
						<span data-filter='.web'>Design</span>
						<span data-filter='.photo'>Photo</span>
						<span data-filter='.video'>Video</span>
					</div>

					<!-- gallery -->
					<div class="gallery text-center">

						<!-- gallery item -->
						<div class="col-md-4 item-img video">
							<a href="img/portfolio/1.jpg">
								<img src="img/portfolio/1.jpg" alt="image">
								<div class="item-img-overlay">
									<span class="v"></span>
									<span class="x"></span>
									<div class="overlay-info v-middle text-center">
										<h6>WEB DESIGN</h6>
										<p>VIDEO</p>
									</div>
								</div>
							</a>
						</div>

						<!-- gallery item -->
						<div class="col-md-4 item-img web">
							<a href="img/portfolio/2.jpg">
								<img src="img/portfolio/2.jpg" alt="image">
								<div class="item-img-overlay">
									<span class="v"></span>
									<span class="x"></span>
									<div class="overlay-info v-middle text-center">
										<h6>WEB DESIGN</h6>
										<p>DESIGN</p>
									</div>
								</div>
							</a>
						</div>

						<!-- gallery item -->
						<div class="col-md-4 item-img brand">
							<a href="img/portfolio/3.jpg">
								<img src="img/portfolio/3.jpg" alt="image">
								<div class="item-img-overlay">
									<span class="v"></span>
									<span class="x"></span>
									<div class="overlay-info v-middle text-center">
										<h6>WEB DESIGN</h6>
										<p>BRAND</p>
									</div>
								</div>
							</a>
						</div>

						<!-- gallery item -->
						<div class="col-md-4 item-img photo">
							<a href="img/portfolio/4.jpg">
								<img src="img/portfolio/4.jpg" alt="image">
								<div class="item-img-overlay">
									<span class="v"></span>
									<span class="x"></span>
									<div class="overlay-info v-middle text-center">
										<h6>WEB DESIGN</h6>
										<p>PHOTO</p>
									</div>
								</div>
							</a>
						</div>

						<!-- gallery item -->
						<div class="col-md-4 item-img web">
							<a href="img/portfolio/5.jpg">
								<img src="img/portfolio/5.jpg" alt="image">
								<div class="item-img-overlay">
									<span class="v"></span>
									<span class="x"></span>
									<div class="overlay-info v-middle text-center">
										<h6>WEB DESIGN</h6>
										<p>DESIGN</p>
									</div>
								</div>
							</a>
						</div>

						<!-- gallery item -->
						<div class="col-md-4 item-img photo">
							<a href="img/portfolio/6.jpg">
								<img src="img/portfolio/6.jpg" alt="image">
								<div class="item-img-overlay">
									<span class="v"></span>
									<span class="x"></span>
									<div class="overlay-info v-middle text-center">
										<h6>WEB DESIGN</h6>
										<p>PHOTO</p>
									</div>
								</div>
							</a>
						</div>

						<!-- gallery item -->
						<div class="col-md-4 item-img video">
							<a href="img/portfolio/7.jpg">
								<img src="img/portfolio/7.jpg" alt="image">
								<div class="item-img-overlay">
									<span class="v"></span>
									<span class="x"></span>
									<div class="overlay-info v-middle text-center">
										<h6>WEB DESIGN</h6>
										<p>VIDEO</p>
									</div>
								</div>
							</a>
						</div>

						<!-- gallery item -->
						<div class="col-md-4 item-img brand">
							<a href="img/portfolio/8.jpg">
								<img src="img/portfolio/8.jpg" alt="image">
								<div class="item-img-overlay">
									<span class="v"></span>
									<span class="x"></span>
									<div class="overlay-info v-middle text-center">
										<h6>WEB DESIGN</h6>
										<p>BRAND</p>
									</div>
								</div>
							</a>
						</div>

						<!-- gallery item -->
						<div class="col-md-4 item-img web">
							<a href="img/portfolio/9.jpg">
								<img src="img/portfolio/9.jpg" alt="image">
								<div class="item-img-overlay">
									<span class="v"></span>
									<span class="x"></span>
									<div class="overlay-info v-middle text-center">
										<h6>WEB DESIGN</h6>
										<p>Design</p>
									</div>
								</div>
							</a>
						</div>

					</div>
				</div>
			</div>
		</section>
		<!--====== End Portfolio ======-->


		<!--====== Team ======-->
		<section id="team" class="team section-padding">
			<div class="container">

				<!-- section header -->
				<div class="section-head text-center">
					<h5 class="tit">Creative Minds</h5>
				</div>

				<div class="row">

					<!-- team items -->
					<div class="col-md-3 col-sm-6">
						<div class="team-item">
							<div class="team-img">
								<img src="img/team/01.jpg" alt="image">
								<div class="team-social">
									<span><i class="fa fa-facebook" aria-hidden="true"></i></span>
									<span><i class="fa fa-twitter" aria-hidden="true"></i></span>
									<span><i class="fa fa-linkedin" aria-hidden="true"></i></span>
									<span><i class="fa fa-github" aria-hidden="true"></i></span>
								</div>
							</div>
							<div class="team-info">
								<h6>JOHN DOE</h6>
								<p>Manager</p>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-sm-6">
						<div class="team-item">
							<div class="team-img">
								<img src="img/team/02.jpg" alt="image">
								<div class="team-social">
									<span><i class="fa fa-facebook" aria-hidden="true"></i></span>
									<span><i class="fa fa-twitter" aria-hidden="true"></i></span>
									<span><i class="fa fa-linkedin" aria-hidden="true"></i></span>
									<span><i class="fa fa-github" aria-hidden="true"></i></span>
								</div>
							</div>
							<div class="team-info">
								<h6>JOHN DOE</h6>
								<p>Designer</p>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-sm-6">
						<div class="team-item">
							<div class="team-img">
								<img src="img/team/03.jpg" alt="image">
								<div class="team-social">
									<span><i class="fa fa-facebook" aria-hidden="true"></i></span>
									<span><i class="fa fa-twitter" aria-hidden="true"></i></span>
									<span><i class="fa fa-linkedin" aria-hidden="true"></i></span>
									<span><i class="fa fa-github" aria-hidden="true"></i></span>
								</div>
							</div>
							<div class="team-info">
								<h6>JOHN DOE</h6>
								<p>Designer</p>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-sm-6">
						<div class="team-item">
							<div class="team-img">
								<img src="img/team/04.jpg" alt="image">
								<div class="team-social">
									<span><i class="fa fa-facebook" aria-hidden="true"></i></span>
									<span><i class="fa fa-twitter" aria-hidden="true"></i></span>
									<span><i class="fa fa-linkedin" aria-hidden="true"></i></span>
									<span><i class="fa fa-github" aria-hidden="true"></i></span>
								</div>
							</div>
							<div class="team-info">
								<h6>JOHN DOE</h6>
								<p>Seo</p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>
		<!--====== End Team ======-->

		<!--====== Clients ======-->
		<section id="clients" class="clients">
			<div class="container">
				<div class="row">

					<!-- clients carousel -->
					<div class="col-md-10 col-md-offset-1">
						<div class="client-say text-center">
							<div class="owl-carousel owl-theme">

								<!-- client item -->
								<div class="client-item text-center">
										
									<span class="icon-quote mb-50"></span><br>

									<h5 class="mb-30">Reviews !</h5>

									<p>Phasellus luctus commodo ullamcorper a posuere rhoncus commodo elit. Aenean congue, risus utaliquam dapibus. Thanks!.</p>

									<h6>___ John Doe, Google Inc. ___</h6>
								</div>

								<!-- client item -->
								<div class="client-item text-center">
										
									<span class="icon-quote mb-50"></span><br>

									<h5 class="mb-30">Reviews !</h5>

									<p>Phasellus luctus commodo ullamcorper a posuere rhoncus commodo elit. Aenean congue, risus utaliquam dapibus. Thanks!.</p>

									<h6>___ John Doe, Google Inc. ___</h6>
								</div>

								<!-- client item -->
								<div class="client-item text-center">
										
									<span class="icon-quote mb-50"></span><br>

									<h5 class="mb-30">Reviews !</h5>

									<p>Phasellus luctus commodo ullamcorper a posuere rhoncus commodo elit. Aenean congue, risus utaliquam dapibus. Thanks!.</p>

									<h6>___ John Doe, Google Inc. ___</h6>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--====== End Clients ======-->

		<!-- ====== price ======  -->
		<section id="price" class="price section-padding section-bord">
			<div class="container">

				<!-- section header -->
				<div class="section-head text-center">
					<h5 class="tit">Our Price</h5>
				</div>

				<div class="row">

					<!-- price items -->
					<div class="col-md-4">
						<div class="prc-item text-center">
							<div class="type">
								<h5>Free</h5>
							</div>
							<div class="main-price">
								<h1>0<span>$</span></h1>
							</div>
							<div class="features">
								<p>Any Ware Access</p>
							</div>
							<div class="features">
								<p>10 GB Hosting</p>
							</div>
							<div class="features">
								<p>-</p>
							</div>
							<div class="features">
								<p>-</p>
							</div>
							<div class="features item-bord">
								<p>-</p>
							</div>

							<button class="button btn-bord-dark">Purchase</button>
						</div>
					</div>

					<div class="col-md-4">
						<div class="prc-item active text-center">
							<div class="type">
								<h5>Medium</h5>
							</div>
							<div class="main-price">
								<h1>20<span>$</span></h1>
							</div>
							<div class="features">
								<p>Any Ware Access</p>
							</div>
							<div class="features">
								<p>40 GB Hosting</p>
							</div>
							<div class="features">
								<p>Import User Data</p>
							</div>
							<div class="features">
								<p>Support 24/h</p>
							</div>
							<div class="features item-bord">
								<p>-</p>
							</div>

							<button class="button btn-bg-dark">Purchase</button>
						</div>
					</div>

					<div class="col-md-4">
						<div class="prc-item text-center">
							<div class="type">
								<h5>Heavy</h5>
							</div>
							<div class="main-price">
								<h1>50<span>$</span></h1>
							</div>
							<div class="features">
								<p>Any Ware Access</p>
							</div>
							<div class="features">
								<p>100 GB Hosting</p>
							</div>
							<div class="features">
								<p>Import User Data</p>
							</div>
							<div class="features">
								<p>Support 24/h</p>
							</div>
							<div class="features item-bord">
								<p>20 Unique Users</p>
							</div>

							<button class="button btn-bord-dark">Purchase</button>
						</div>
					</div>

				</div>
			</div>
		</section>
		<!-- ====== End price ======  -->

		<!--====== Blog ======-->
		<section id="blog" class="blog section-padding">
			<div class="container">

				<!-- section header -->
				<div class="section-head">
					<h5 class="tit">Latest News</h5>
					<a href="blog.html"><p class="pull-right">For All Newsletter >></p></a>
				</div>

				<div class="row">

					<!-- posts -->
					<div class="col-md-4">
						<div class="s-post">
							<div class="post-img">
								<img src="img/blog/1.jpg" alt="image">
							</div>
							<div class="s-post-content">
								<h6>STYLE IN WEB DESIGN AND LOGO</h6>
								<span>Admin | 6 August</span>
								<p>Lorem ipsum dolor sit amet, consec tetur elit. In maximus ligula semper.Lorem ipsum dolor sit amet, adipi scing conse ctetur adipi scing.</p>
								<a href="single-post.html"><span>Read More..</span></a>
							</div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="s-post">
							<div class="post-img">
								<img src="img/blog/2.jpg" alt="image">
							</div>
							<div class="s-post-content">
								<h6>WEB DESIGN & GRAPHIC DESIGN</h6>
								<span>Admin | 6 August</span>
								<p>Lorem ipsum dolor sit amet, consec tetur elit. In maximus ligula semper.Lorem ipsum dolor sit amet, adipi scing conse ctetur adipi scing.</p>
								<a href="single-post.html"><span>Read More..</span></a>
							</div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="s-post">
							<div class="post-img">
								<img src="img/blog/3.jpg" alt="image">
							</div>
							<div class="s-post-content">
								<h6>HIPSTER’S STYLE IN WEB DESIGN</h6>
								<span>Admin | 6 August</span>
								<p>Lorem ipsum dolor sit amet, consec tetur elit. In maximus ligula semper.Lorem ipsum dolor sit amet, adipi scing conse ctetur adipi scing.</p>
								<a href="single-post.html"><span>Read More..</span></a>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>
		<!--====== End Blog ======-->

		<!--====== Contact ======-->
		<section id="contact" class="contact pb-100">
			<!-- contact icfo -->
			<div class="cont-info">
				<div class="container">

					<!-- section header -->
					<div class="section-head text-center">
						<h5 class="tit">Get In Touch</h5>
					</div>

					<div class="row">

						<!-- info items -->
						<div class="col-md-4">
							<div class="info-item">
								<div class="icon">
									<span class="icon-map-pin"></span>
								</div>
								<div class="info-content">
									<h6>Address</h6>
									<h5>21 Jumpe Street</h5>
								</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="info-item">
								<div class="icon">
									<span class="icon-phone"></span>
								</div>
								<div class="info-content">
									<h6>Phone</h6>
									<h5>+2001025178918</h5>
								</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="info-item">
								<div class="icon">
									<span class="icon-envelope"></span>
								</div>
								<div class="info-content">
									<h6>E-mail</h6>
									<h5>hishamdimo@gmail.com</h5>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

			<!-- form -->
			<div class="main-form">
				<div class="container">
					<div class="row">
						<!-- contact form -->
						<div class="col-md-offset-2 col-md-8">
							 <form class="form" id="contact-form" method="post" action="contact.php" role="form">
		                        <div class="messages"></div>

		                        <div class="controls">

		                            <div class="row">
		                                <div class="col-md-6">
		                                    <div class="form-group">
		                                        <input id="form_name" type="text" name="name" placeholder="Name *" required="required" data-error="Firstname is required.">
		                                        <div class="help-block with-errors"></div>
		                                    </div>
		                                </div>

		                                 <div class="col-md-6">
		                                    <div class="form-group">
		                                        <input id="form_email" type="email" name="email" placeholder="Email *" required="required" data-error="Valid email is required.">
		                                        <div class="help-block with-errors"></div>
		                                    </div>
		                                </div>
		                            </div>
		                            <div class="row">
		                                <div class="col-md-12">
		                                    <div class="form-group">
		                                        <input id="form_subject" type="subject" name="subject" placeholder="Subject">
		                                        <div class="help-block with-errors"></div>
		                                    </div>
		                                </div>
		                            </div>
		                            <div class="row">
		                                <div class="col-md-12">
		                                    <div class="form-group">
		                                        <textarea id="form_message" name="message" placeholder="Message *" rows="4" required="required" data-error="Message."></textarea>
		                                        <div class="help-block with-errors"></div>
		                                    </div>
		                                </div>
		                                <div class="col-sm-4">
		                                    <input type="submit" class="button" value="Send message">
		                                </div>
		                            </div>
		                        </div>
		                    </form>
						</div>
					</div>
				</div>
			</div>				
		</section>
		<!--====== End Contact ======-->

		<!--====== Footer ======-->
		<footer>

			<!-- main footer -->
			<div class="main-footer">
				<div class="container">
					<div class="row">

						<!-- item about -->
						<div class="col-sm-4">
							<div class="item-about">
								<h4>Django</h4>
								<p>Lorem ipsum dolor sit amet, consec tetur elit. In maximus ligula semper.Lorem ipsum dolor sit amet adipiscing conse ctetur adipi scing eli elit.</p>
								<div class="social-icon">
									<span><i class="fa fa-facebook" aria-hidden="true"></i></span>
									<span><i class="fa fa-twitter" aria-hidden="true"></i></span>
									<span><i class="fa fa-linkedin" aria-hidden="true"></i></span>
									<span><i class="fa fa-github" aria-hidden="true"></i></span>
								</div>
							</div>
						</div>

						<!-- twity -->
						<div class="col-sm-4">
							<div class="twity">
								<h6>LATEST NEWS</h6>
								<span><i class="fa fa-twitter" aria-hidden="true"></i></span>
								<p>Lorem ipsum dolor sit amet, consec tetur elit. In maximus ligula semper.Lorem ipsum dolor sit . http://envato/hisham007</p>
							</div>

							<div class="twity">
								<span><i class="fa fa-twitter" aria-hidden="true"></i></span>
								<p>Lorem ipsum dolor sit amet, consec tetur elit.  #webdesign</p>
							</div>
						</div>

						<!-- subscribe -->
						<div class="col-sm-4">
							<div class="item">
								<h6>GET IN TOUCH</h6>
								<div class="sub-form">
									<p>Subscribe To Get Latest News & Updates</p>
									<input type="text" name="email" placeholder="Your Email">
									<div class="btn-sub">
										<button>Subscribe</button>
									</div>
								</div>
								<div class="links">
									<span>Home</span><span>About</span><span>Services</span><span>Contact</span>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

			<!-- sub footer -->
			<div class="sub-footer text-center">
				<div class="container">
					<p>Copy Right &copy; By HishamM 2017 | All Rights Reserved.</p>
				</div>
			</div>
		</footer>
		<!--====== End Footer ======-->
		
		


		
		
		<!--====== js ======-->


		<!-- jQuery -->
		<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
		<script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>

	  	<!-- bootstrap -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

		<!-- singlePageNav -->
		<script src="js/jquery.singlePageNav.min.js"></script>

		<!-- YouTubePopUp -->
		<script src="js/YouTubePopUp.jquery.js"></script>

		<!-- magnific-popup -->
		<script src="js/jquery.magnific-popup.min.js"></script>

		<!-- owl carousel -->
		<script src="js/owl.carousel.min.js"></script>

		<!-- stellar js -->
		<script src="js/jquery.stellar.min.js"></script>

		<!-- jquery.waypoints.min js -->
      	<script src="js/jquery.waypoints.min.js"></script>

      	<!-- jquery.counterup.min js -->
      	<script src="js/jquery.counterup.min.js"></script>

		<!-- typed js -->
      	<script src="js/typed.js"></script>

      	<!-- isotope.pkgd.min js -->
      	<script src="js/isotope.pkgd.min.js"></script>

      	<!-- animated.headline js -->
      	<script src="js/animated.headline.js"></script>

      	<!-- validator js -->
      	<script src="js/validator.js"></script>

      	<!-- custom js -->
      	<script src="js/custom.js"></script>

	</body>
</html>