<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js" lang="en"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Always force latest IE rendering engine -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<meta name="description" content="Django is a responsive creative agency template">
		<meta name="keywords" content="portfolio, personal, corporate, business, parallax, creative, agency">

		<!-- Title -->
		<title>Django</title>

		<!-- Google fonts -->
		<link href="https://fonts.googleapis.com/css?family=Dosis:100,400,600,700" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600,700" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">

		<!-- Font awesome Core CSS -->
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<link rel="stylesheet" href="css/et-line.css">

		<!-- bootstrap css -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- YouTubePopUp CSS -->
		<link rel="stylesheet" href="css/YouTubePopUp.css">

		<!-- magnific-popup CSS -->
		<link rel="stylesheet" href="css/magnific-popup.css">

		<!-- owl carousel CSS -->
		<link rel="stylesheet" href="css/owl.carousel.min.css">
		<link rel="stylesheet" href="css/owl.theme.default.min.css">

		<!-- Custom style CSS -->
		<link rel="stylesheet" href="css/style.css">

		<!-- responsive CSS -->
		<link rel="stylesheet" href="css/responsive.css">

		<!--[if lt IE 9]-->
		<script src="js/html5shiv.min.js"></script>
		<!--[endif]-->
	</head>
	<body>

		<!-- ====== Preloader ======  -->
	    <div class="loading">
			<div class="spinner">
			  <div class="rect1"></div>
			  <div class="rect2"></div>
			  <div class="rect3"></div>
			  <div class="rect4"></div>
			  <div class="rect5"></div>
			</div>
		</div>
		<!-- ======End Preloader ======  -->


		<!-- Navigation start -->
    <nav class="navbar navbar-custom tt-default-nav" role="navigation">
        <div class="container">

          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- logo -->
            <a class="navbar-brand" href="#">Django</a>
          </div>
      
          <div class="collapse navbar-collapse" id="custom-collapse">
      
            <ul class="nav navbar-nav navbar-right">
      
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home</a>
                <ul class="dropdown-menu">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Multi Page</a>
                    <ul class="dropdown-menu">
                      <li><a href="muiltepage-main.html">Main Demo</a></li>
                      <li><a href="muiltepage-header slider.html">Header Slider</a></li>
                      <li><a href="muiltepage-text slider.html">text slider</a></li>
                      <li><a href="muiltepage-text type.html">text type</a></li>
                      <li><a href="muiltepage-text rotator.html">text rotator</a></li>
                      <li><a href="muiltepage-with video.html">with video</a></li>
                      <li><a href="muiltepage-bg video.html">bg video</a></li>
                      <li><a href="muiltepage-text box.html">text box</a></li>
                      <li><a href="muiltepage-nice.html">nice header</a></li>
                      <li><a href="muiltepage-particles.html">particles</a></li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">One Page</a>
                    <ul class="dropdown-menu">
                      <li><a href="onepage-main.html">Main Demo</a></li>
                      <li><a href="onepage-header slider.html">Header Slider</a></li>
                      <li><a href="onepage-text slider.html">text slider</a></li>
                      <li><a href="onepage-text type.html">text type</a></li>
                      <li><a href="onepage-text rotator.html">text rotator</a></li>
                      <li><a href="onepage-with video.html">with video</a></li>
                      <li><a href="onepage-bg video.html">bg video</a></li>
                      <li><a href="onepage-text box.html">text box</a></li>
                      <li><a href="onepage-nice.html">nice header</a></li>
                      <li><a href="onepage-particles.html">particles</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
      
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages</a>
                <ul class="dropdown-menu">
      
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">About</a>
                    <ul class="dropdown-menu">
                      <li><a href="about-1.html">About Us v1</a></li>
                      <li><a href="about-2.html">About Us v2</a></li>
                    </ul>
                  </li>

                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services</a>
                    <ul class="dropdown-menu">
                      <li><a href="services-1.html">Services v1</a></li>
                      <li><a href="services-2.html">Services v2</a></li>
                    </ul>
                  </li>

                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Price</a>
                    <ul class="dropdown-menu">
                      <li><a href="price-1.html">Price v1</a></li>
                      <li><a href="price-2.html">Price v2</a></li>
                    </ul>
                  </li>

                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contact</a>
                    <ul class="dropdown-menu">
                      <li><a href="contact-1.html">Contact Us v1</a></li>
                      <li><a href="contact-2.html">Contact Us v2</a></li>
                    </ul>
                  </li>

                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account</a>
                    <ul class="dropdown-menu">
                      <li><a href="login.html">Login</a></li>
                      <li><a href="create-account.html">Create Account</a></li>
                    </ul>
                  </li>

                  <li><a href="comming-soon.html">Comming Soon</a></li>
                  <li><a href="404.html">Error 404</a></li>
      
                </ul>
              </li>


              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio</a>
                <ul class="dropdown-menu" role="menu">
      
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Boxed</a>
                    <ul class="dropdown-menu">
                      <li><a href="portfolio-boxed-2column.html">2 Columns</a></li>
                      <li><a href="portfolio-boxed-3column.html">3 Columns</a></li>
                      <li><a href="portfolio-boxed-4column.html">4 Columns</a></li>
                    </ul>
                  </li>
      
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Boxed - Gutter</a>
                    <ul class="dropdown-menu">
                      <li><a href="portfolio-boxed-gutter-2column.html">2 Columns</a></li>
                      <li><a href="portfolio-boxed-gutter-3column.html">3 Columns</a></li>
                      <li><a href="portfolio-boxed-gutter-4column.html">4 Columns</a></li>
                    </ul>
                  </li>

                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Boxed - Masonry</a>
                    <ul class="dropdown-menu">
                      <li><a href="portfolio-masonry-boxed-2column.html">2 Columns</a></li>
                      <li><a href="portfolio-masonry-boxed-3column.html">3 Columns</a></li>
                      <li><a href="portfolio-masonry-boxed-4column.html">4 Columns</a></li>
                    </ul>
                  </li>

                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Wide</a>
                    <ul class="dropdown-menu">
                      <li><a href="portfolio-wide-2column.html">2 Columns</a></li>
                      <li><a href="portfolio-wide-3column.html">3 Columns</a></li>
                      <li><a href="portfolio-wide-4column.html">4 Columns</a></li>
                    </ul>
                  </li>
      
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Wide - Gutter</a>
                    <ul class="dropdown-menu">
                      <li><a href="portfolio-wide-gutter-2column.html">2 Columns</a></li>
                      <li><a href="portfolio-wide-gutter-3column.html">3 Columns</a></li>
                      <li><a href="portfolio-wide-gutter-4column.html">4 Columns</a></li>
                    </ul>
                  </li>

                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Wide - Masonry</a>
                    <ul class="dropdown-menu">
                      <li><a href="portfolio-masonry-wide-2column.html">2 Columns</a></li>
                      <li><a href="portfolio-masonry-wide-3column.html">3 Columns</a></li>
                      <li><a href="portfolio-masonry-wide-4column.html">4 Columns</a></li>
                    </ul>
                  </li>
      
                </ul>
              </li>
      
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog</a>
                <ul class="dropdown-menu" role="menu">

                  <li><a href="blog-classic.html">Classic</a></li>
                  <li><a href="blog-classic-grid.html">Classic Grid</a></li>
                  <li><a href="blog-classic-list.html">Classic List</a></li>
                  <li><a href="blog-fullwidth.html">Full Width</a></li>
                  <li><a href="single-post.html">Single Post</a></li>
      
                </ul>
              </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Shop</a>
                <ul class="dropdown-menu" role="menu">
                  
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sidebar</a>
                    <ul class="dropdown-menu">
                      <li><a href="shop-sidebar-2columns.html">2 Columns</a></li>
                      <li><a href="shop-sidebar-3columns.html">3 Columns</a></li>
                    </ul>
                  </li>
                  <li><a href="shop-4columns.html">Full Width</a></li>
                  <li><a href="shop-single.html">Single Product</a></li>
                  <li><a href="shop-cart.html">Cart</a></li>

                </ul>
              </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Elements</a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="element-accordion.html"><i class="fa fa-server"></i>&nbsp; Accordion</a></li>
                  <li><a href="element-buttons.html"><i class="fa fa-caret-square-o-right"></i>&nbsp; Buttons</a></li>
                  <li><a href="element-counter.html"><i class="fa fa-clock-o"></i>&nbsp; Counter</a></li>
                  <li><a href="element-progressbar.html"><i class="fa fa-tasks"></i>&nbsp; Progressbar</a></li>
                  <li><a href="element-features.html"><i class="fa fa-cubes"></i>&nbsp; Features</a></li>
                  <li><a href="element-form.html"><i class="fa fa-list-alt"></i>&nbsp; Form</a></li>
                  <li><a href="element-grid.html"><i class="fa fa-barcode"></i>&nbsp; Grid</a></li>
                  <li><a href="element-heading.html"><i class="fa fa-bars"></i>&nbsp; Heading</a></li>
                  <li><a href="element-parallax.html"><i class="fa fa-picture-o"></i>&nbsp; Parallax</a></li>
                  <li><a href="element-type text.html"><i class="fa fa-rocket"></i>&nbsp; Typed Text</a></li>
                </ul>
              </li>

              <li class="nav-card">
                <span><i class="fa fa-shopping-bag" aria-hidden="true"></i>&nbsp; (1)</span>
              </li>

              <li class="dropdown nav-search">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search" aria-hidden="true"></i></a>
                <ul class="dropdown-menu" role="menu">
                
                  <li>
                    <input type="text" name="search" placeholder="Search">
                  </li>

                </ul>
              </li>

            </ul>
          </div>
        </div><!-- /.container -->
    </nav>
    <!-- Navigation end -->

		<!-- ====== Header ======  -->
		<header id="home" class="sub-header portfolio-bg" data-stellar-background-ratio="0.5">
			<!-- header content -->
			<div class="caption v-middle text-center">
				<h1>Portfolio Masonry</h1>
				<span>Home / Portfolio / Masonry / Wide / 2 Columns</span>
			</div>
		</header>
		<!-- ====== End Header ======  -->

		<!--====== Portfolio ======-->
		<section id="portfolio" class="portfolio main section-padding">
			<div class="container-fluid">
				
				<div class="row">

					<!-- filter links -->
					<div class="filtering text-center mb-50">
						<span data-filter='*' class="active">All</span>
						<span data-filter='.brand'>Brand</span>
						<span data-filter='.web'>Design</span>
						<span data-filter='.photo'>Photo</span>
						<span data-filter='.video'>Video</span>
					</div>

					<!-- gallery -->
					<div class="gallery text-center">

						<!-- gallery item -->
						<div class="col-md-6 item-img video">
							<a href="img/portfolio/1.jpg">
								<img src="img/portfolio/1.jpg" alt="image">
								<div class="item-img-overlay">
									<span class="v"></span>
									<span class="x"></span>
									<div class="overlay-info v-middle text-center">
										<h6>WEB DESIGN</h6>
										<p>VIDEO</p>
									</div>
								</div>
							</a>
						</div>

						<!-- gallery item -->
						<div class="col-md-6 item-img web">
							<a href="img/portfolio/2.jpg">
								<img src="img/portfolio/2.jpg" alt="image">
								<div class="item-img-overlay">
									<span class="v"></span>
									<span class="x"></span>
									<div class="overlay-info v-middle text-center">
										<h6>WEB DESIGN</h6>
										<p>DESIGN</p>
									</div>
								</div>
							</a>
						</div>

						<!-- gallery item -->
						<div class="col-md-6 item-img brand">
							<a href="img/portfolio/4.jpg">
								<img src="img/portfolio/4.jpg" alt="image">
								<div class="item-img-overlay">
									<span class="v"></span>
									<span class="x"></span>
									<div class="overlay-info v-middle text-center">
										<h6>WEB DESIGN</h6>
										<p>BRAND</p>
									</div>
								</div>
							</a>
						</div>

						<!-- gallery item -->
						<div class="col-md-6 item-img photo">
							<a href="img/portfolio/6.jpg">
								<img src="img/portfolio/6.jpg" alt="image">
								<div class="item-img-overlay">
									<span class="v"></span>
									<span class="x"></span>
									<div class="overlay-info v-middle text-center">
										<h6>WEB DESIGN</h6>
										<p>PHOTO</p>
									</div>
								</div>
							</a>
						</div>

						<!-- gallery item -->
						<div class="col-md-6 item-img web">
							<a href="img/portfolio/3.jpg">
								<img src="img/portfolio/3.jpg" alt="image">
								<div class="item-img-overlay">
									<span class="v"></span>
									<span class="x"></span>
									<div class="overlay-info v-middle text-center">
										<h6>WEB DESIGN</h6>
										<p>DESIGN</p>
									</div>
								</div>
							</a>
						</div>

						<!-- gallery item -->
						<div class="col-md-6 item-img photo">
							<a href="img/portfolio/9.jpg">
								<img src="img/portfolio/9.jpg" alt="image">
								<div class="item-img-overlay">
									<span class="v"></span>
									<span class="x"></span>
									<div class="overlay-info v-middle text-center">
										<h6>WEB DESIGN</h6>
										<p>PHOTO</p>
									</div>
								</div>
							</a>
						</div>

					</div>
				</div>
			</div>
		</section>
		<!--====== End Portfolio ======-->

		<!--====== Footer ======-->
    <footer>

      <!-- small footer -->
      <div class="small-footer">
        <div class="container">
          <div class="row">

            <!-- item -->
            <div class="item">
              <div class="col-md-6">
                <h4 class="footer-logo">Django</h4>
                <div class="links">
                  <span>Home</span><span>About</span><span>Services</span><span>Contact</span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="social-icon">
                  <span><i class="fa fa-facebook" aria-hidden="true"></i></span>
                  <span><i class="fa fa-twitter" aria-hidden="true"></i></span>
                  <span><i class="fa fa-linkedin" aria-hidden="true"></i></span>
                  <span><i class="fa fa-github" aria-hidden="true"></i></span>
                </div>
                <p>Copy Right &copy; By HishamM 2017 | All Rights Reserved.</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </footer>
    <!--====== End Footer ======-->
		
		


		
		
		<!--====== js ======-->


		<!-- jQuery -->
		<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
		<script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>

	  	<!-- bootstrap -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

		<!-- singlePageNav -->
		<script src="js/jquery.singlePageNav.min.js"></script>

		<!-- YouTubePopUp -->
		<script src="js/YouTubePopUp.jquery.js"></script>

		<!-- magnific-popup -->
		<script src="js/jquery.magnific-popup.min.js"></script>

		<!-- owl carousel -->
		<script src="js/owl.carousel.min.js"></script>

		<!-- stellar js -->
		<script src="js/jquery.stellar.min.js"></script>

		<!-- jquery.waypoints.min js -->
      	<script src="js/jquery.waypoints.min.js"></script>

      	<!-- jquery.counterup.min js -->
      	<script src="js/jquery.counterup.min.js"></script>

		<!-- typed js -->
      	<script src="js/typed.js"></script>

      	<!-- isotope.pkgd.min js -->
      	<script src="js/isotope.pkgd.min.js"></script>

      	<!-- animated.headline js -->
      	<script src="js/animated.headline.js"></script>

      	<!-- validator js -->
      	<script src="js/validator.js"></script>

      	<!-- custom js -->
      	<script src="js/custom.js"></script>

	</body>
</html>